#fif {
    width: 2cm;
    height: 2cm;
}

.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#l2{
width: 40rem;

}
#l3{
width: 40rem;

}

